{% extends 'default/base.html.twig' %}
{% block main %}
	<main class="container">
		<div class="container">
			<div class="row text-center">
				<div class="col hp">
					<img class='foto_persona' src="{{persona.RUTA}}" alt="Foto de {{persona.APELLIDOS}} {{persona.NOMBRES}}">
				</div>
			</div>

			<div class="row ">
				<div class="col-md-12 header header-persona">
					<ul>
						<li>{{persona.GRADO}}.{{persona.APELLIDOS}} {{persona.NOMBRES}}</li>
						<li>{{persona.IDENTIFICACION}}</li>
					</ul>
				</div>
			<div class="row">
			<div class="col-lg-4">
				<table class="table table-responsive" style="font-size: 14px;">
					<tr>	
    					<th>ARMA CUERPO:</th>
    					<td>{{persona.ARMA_CUERPO}}</td>
					</tr>
					<tr>
    					<th>ESPECIALIDAD:</th>
    					<td>{{persona.ESPECIALIDAD}}</td>
    				</tr>
    				<tr>
    					<th>ULTIMO ASCENSO:</th>
    					<td>{{persona.UASCENSO}}</td>
    				</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<table class="table table-responsive" style="font-size: 14px;" >
					<tr>
    					<th>GUARNICION:</th>
    					<td>{{persona.GUARNICION}}</td>
    				</tr>
    				<tr>
    					<th>UNIDAD</th>
    					<td>{{persona.UNIDAD}}</td>
    				</tr>
					
				</table>
			</div>
			<div class="col-lg-4">
				<table class="table table-responsive" style="font-size: 14px;" >
    				<tr>
    					<th>SIGLA:</th>
    					<td>{{persona.SIGLA}}</td>
					</tr>	
    					<th>ARMA CUERPO:</th>
    					<td>{{persona.ARMA_CUERPO}}</td>
					</tr>
				</table>
			</div>
      </div>	
			<div class="row">
				<div class="col" >
					<h2 class="text-center">
						ACREDITACION DE CONDUCTA <br>DEL PERSONAL MILITAR PROPUESTO  PARA ASCENSO
						<hr>
					</h2>
					<p class="text-justify">
						DECRETO 1790 DE 2.000, ARTÍCULO 52. REQUISITOS COMUNES PARA ASCENSO: “Para ingresar y ascender en las Fuerzas Militares se requiere acreditar condiciones de conducta, profesionales y sicofísicas como requisitos comunes para todos los oficiales y suboficiales y además cumplir las condiciones específicas que este Decreto determina.”
					</p>
				</div>
			</div>
	
			{# <input type="hidden" name="id" value="{{id}}"> #}
			<input type="hidden" name="f_prox_a" value="{{persona.FECHA_PROX_ASCENSO}}">
			<table class="table table-bordered table-responsive" >
				<tr>
					<th>CONDICIONES PROFESIONALES</th>
					<th>N/A</th>
					<th>DEFICIENE</th>
					<th>REGULAR</th>
					<th>BUENO</th>
					<th>MUY BUENO</th>
					<th>EXCELENTE</th>
				</tr>
				{% for i in ind_concepto %}
				<tr>
						<script type="text/javascript">
							$("input").attr('disabled',true);
						</script>
					<td>{{i.descripcion}}</td>
			   		<td class="text-center"><input type="radio"  name="{{i.id_indicador}}" value="0"></td>
					<td class="text-center"><input type="radio"  name="{{i.id_indicador}}" value="1" 
						{% if i.calificacion == 1 %}
							checked
						{% endif %}
					></td>
					<td class="text-center"><input type="radio"  name="{{i.id_indicador}}" value="2" 
						{% if i.calificacion == 2 %}
							checked
						{% endif %}
					></td>
					<td class="text-center"><input type="radio"  name="{{i.id_indicador}}" value="3"
						{% if i.calificacion == 3 %}
							checked
						{% endif %}
					></td>
					<td class="text-center">
						<input type="radio"  name="{{i.id_indicador}}" value="4"
							{% if i.calificacion == 4 %}
								checked
							{% endif %}
						>
					</td>
					<td class="text-center"><input type="radio"  name="{{i.id_indicador}}" value="4"
						{% if i.calificacion == 5 %}
							checked
						{% endif %}
					></td>
				</tr>
				{% endfor %} 	
				<tr>
					<th>calificacion Final</th>
					<td colspan="6">
					</td>
				</tr>
			</table>
			<fieldset>
				<label for="observaciones">OBSERVACIONES</label>
				<textarea name="observaciones" id="observaciones" cols="90" rows="8" class="form-control" disabled="true"></textarea>
			</fieldset>			
		</fieldset>
	</div>
{% endblock %}