{% extends plantilla ? "/default/consulta.html.twig" : 'disanBundle:default:vacia.html.twig' %}
{% block header %}
{% endblock %}


{% block consulta_header %}
	<i class="fa fa-balance-scale text-center card-img-top" aria-hidden="true" style="font-size:80px; color:#58401e;"></i>
	<p>Disciplinarias</p>
{% endblock %}
{% block consulta_action %}
	action="{{ url('jpm_datos') }}"
{% endblock %}

{% block listado_target %}
    href="{{url('jpm')}}{{parent()}}
{% endblock %}
{% block datos %}
	{% if persona and plantilla %}{{persona.IDENTIFICACION}}
		{{persona.CATEGORIA}}
		{{persona.GRADO_COMPLETO}}
		{{persona.APELLIDOS}}
		{{persona.NOMBRES}}
		{{persona.ESPECIALIDAD}}
		{{persona.GUARNICION}}
		{{persona.UNIDAD}}
		{{persona.SIGLA}}
<div class="table-responsive">

	<table class="table table-bordered">
		<thead class="thead-default">
			<tr>
				<th>Sanciones</th>
				<th>Investigaciones</th>
				<th>Suspenciones</th>
				<th>Separaciones</th>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr>
				<td>{{sanciones|length}}</td>
				<td>{{investigaciones|length}}</td>
				<td>{{suspenciones|length}}</td>
				<td>{{separaciones|length}}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endif %}

<div class="container_fluid">
	<div class="row">
	{% if sanciones %}
	<section id="sanciones" class="card col-md-4">
		<h2 class="card-header">Sanciones</h2>
		<div class="card-block">
			<ul>
				{% for s in sanciones %}
				<li>Fecha:{{s.FECHA_SANCION}}</li>
				<li>Novedad:{{s.TIPO_NOVEDAD}}</li>
				<li>Clase Novedad:{{s.CLASE_NOVEDAD}}</li>
				<li>Numero Expediente:{{s.NUM_EXPED}}</li>
				<li>Hechos:{{s.MOTIVO_HECHOS}}</li>
				<li>N° Dispo:{{s.NUM_DISPO}}</li>
				<li>Dispocision:{{s.DISPOSICION}}</li>
				<li>Grado:{{s.GRADO_NOVEDAD}}</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	{% endif %}
	{% if investigaciones %}
	<section id="investigaciones" class="card col-md-4">
		<h2 class="card-header">Investigaciones</h2>
		<div class="card-block">
			{% for i in investigaciones %}
			{{i.FECHA_INICIO}}
			{{i.FECHA_HECHOS}}
			{{i.NUMERO_PROCESO}}
			{{i.OBSERVACION}}
			{{i.TIPO_INVES}}
			{% endfor %}
		</div>
	</section>
	{% endif %}
	{% if suspenciones %}
		<section id="investigaciones" class="card col-md-4">
			<h2 class="card-header">Suspensiones</h2>
			<div class="card-block">
			{% for s in suspenciones %}
				{{s.NUM_DISPOSICION}}
				{{s.DISPOSICION}}
				{{s.FECHA_DISPOSICION}}
				{{s.NUMERO_EXPEDIENTE}}
				{{s.FECHA_SUSPENCION}}
				{{s.FECHA_TERMINO}}
				{{s.DIAS_MES_AÑO}}
				{{s.CLASE_NOVEDAD}}
				{{s.TIPO_SUSPENCION}}
			{% endfor %}
			</div>
		</section>
	{% endif %}
	{% if separaciones %}
		{{dump(separaciones)}}
	{% endif %}
	</div>
	</div>
{% endblock %}
