{% extends plantilla ? "/default/consulta.html.twig" : 'disanBundle:default:vacia.html.twig' %}
{% block header %}
{% endblock %}


{% block consulta_header %}
	<i class="fa fa-balance-scale text-center card-img-top" aria-hidden="true" style="font-size:80px; color:#58401e;"></i>
	<p>Disciplinarias</p>
{% endblock %}
{% block consulta_action %}
	action="{{ url('jpm_datos') }}" 
{% endblock %}

{% block listado_target %}
    href="{{url('jpm')}}{{parent()}}
{% endblock %}

{% block datos %}
				{% if sanciones != null %}
					<div class="container">
						<table class="table table-bordered table-hover table-responsive ">
							<caption>SANCIONES</caption>
							<thead>
							<tr>
								<th>Fecha Sancion</th>
								<th>Tipo Novedad</th>
								<th>Clase Novedad</th>
								<th>Motivo de Hechos</th>
								<th>Num Dispo</th>
								<th>Disposicion</th>
								<th>Grado en la novedad</th>
							</tr>
							</thead>
							<tbody>
							{% for sancion in sanciones%}
								<tr>
									<td>{{  sancion.FECHA_SANCION  }}</td>
									<td>{{  sancion.TIPO_NOVEDAD  }}</td>
									<td>{{  sancion.NUM_EXPED  }}</td>
									<td>{{  sancion.MOTIVO_HECHOS  }}</td>
									<td>{{  sancion.NUM_DISPO  }}</td>
									<td>{{  sancion.DISPOSICION  }}</td>
									<td>{{  sancion.GRADO_NOVEDAD  }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}
					{% if suspenciones == null and persona != null %}
						
							<p class="text-muted text-center">Suspenciones: 0</p>
						
					{% endif %}
					{% if sanciones == null and persona != null %}
						
							<p class="text-muted text-center">Sanciones:0</p>
						
					{% endif %}
					{% if investigaciones == null and persona != null %}
						
							<p class="text-muted text-center">Investigaciones:0</p>
						
					{% endif %}
				{% if investigaciones != null %}
					
							<h4 class="text-center">INVESTIGACIONES</h4>
						<table class="table table-bordered table-hover table-responsive">
							<thead>
							<tr>
								<th>Fecha Sancion</th>
								<th>Tipo Novedad</th>
								<th>Clase Novedad</th>
								<th>Motivo de Hechos</th>
								<th>Num Dispo</th>
							</tr>
							</thead>
							<tbody>
							{% for investigacion in investigaciones%}
								<tr>
									<td>{{investigacion.FECHA_INICIO  }}</td>
									<td>{{investigacion.FECHA_HECHOS  }}</td>
									<td>{{investigacion.NUMERO_PROCESO  }}</td>
									<td>{{investigacion.OBSERVACION  }}</td>
									<td>{{investigacion.TIPO_INVES }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% if suspenciones != null %}
							<h4>SUSPENCIONES</h4>
						<table class="table table-bordered table-hover table-responsive">
							<thead>
							<tr>
								<th>N° Disposicion</th>
								<th>DIPOSICION</th>
								<th>FECHA DISPOSICION</th>
								<th>NUMERO EXPEDIENTE</th>
								<th>FECHA SUSPENCION</th>
							</tr>
							</thead>
							<tbody>
							{% for suspencion in suspenciones %}
								<tr>
									<td>{{  suspencion.NUM_DISPOSICION  }}</td>
									<td>{{  suspencion.DISPOSICION  }}</td>
									<td>{{  suspencion.FECHA_DISPOSICION  }}</td>
									<td>{{  suspencion.NUMERO_EXPEDIENTE  }}</td>
									<td>{{  suspencion.FECHA_SUSPENCION }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</fieldset>
					{% endif %}
					
				{% endif %}
					    
			{% endblock %}






