{% extends  "/default/consulta.html.twig" %}

{% block head %}
	{{parent()}}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'>
    </script>
{% endblock %}
{% block header %}
{% endblock %}
{% block consulta_header %}
	<i class="fa fa-user-circle text-center card-img-top" aria-hidden="true" style="font-size:100px; color:#005f8e;"></i>
{% endblock %}

{% block listado_target %}
	href="{{url('persona_datos')}}{{parent()}}
{% endblock %}
{% block datos %}
				{% if persona != null %}
					<div class="container">
						<div class="card">
							<div class="container">
								<div class="row">
									<div class="col-md-3 ml-auto">
										<figure class="text-center m-0">
											<i class="fa fa-user-circle text-center card-img-top" aria-hidden="true" style="font-size:150px; color:#005f8e;"></i>
											{# <img class='foto_persona' class="img-responsive card-img-top"  src="{{ persona.RUTA }}" alt="foto Persona" > #}
										</figure>
									</div>
									<div class="col-md-3  mr-auto">
										<canvas id="perfil"></canvas>
									</div>
								</div>
							</div>

							<div class="card-header header-persona">
								{{persona.IDENTIFICACION|trim}}
								<br>
								{{persona.GRADO}}.{{persona.APELLIDOS}} {{persona.NOMBRES}}
					  	</div>
					<div id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="card">
					    <div class="card-header" role="tab" id="headingOne">
					      <h5 class="mb-0 text-center" >
					        <a data-toggle="collapse"  data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					          Datos Personales
					        </a>
					      </h5>
					    </div>
					    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
					      <div class="card-block">
										    <p class="card-text">
							<div class="row">
								<div class="col-lg-4 table-responsive">
									<table class="table" style="font-size: 14px;">
										<tr>
					    					<th>ARMA CUERPO:</th>
					    					<td>{{persona.ARMA_CUERPO}}</td>
										</tr>
										<tr>
					    					<th>ESPECIALIDAD:</th>
					    					<td>{{persona.ESPECIALIDAD}}</td>
					    				</tr>
					    				<tr>
					    					<th>ULTIMO ASCENSO:</th>
					    					<td>{{persona.UASCENSO}}</td>
					    				</tr>
									</table>
								</div>
								<div class="col-lg-4  table-responsive">
									<table class="table" style="font-size: 14px;" >
										<tr>
					    					<th>GUARNICION:</th>
					    					<td>{{persona.GUARNICION}}</td>
					    				</tr>
					    				<tr>
					    					<th>UNIDAD</th>
					    					<td>{{persona.UNIDAD}}</td>
					    				</tr>
									</table>
								</div>
								<div class="col-lg-4 table-responsive">
									<table class="table" style="font-size: 14px;" >
					    				<tr>
					    					<th>SIGLA:</th>
					    					<td>{{persona.SIGLA}}</td>
										</tr>
					    					<th>ARMA CUERPO:</th>
					    					<td>{{persona.ARMA_CUERPO}}</td>
										</tr>
									</table>
								</div>
					      </div>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-header" role="tab" id="headingTwo">
					      <h5 class="mb-0 text-center">
					        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          Tiempos
					        </a>
					      </h5>
					    </div>
					    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
					      <div class="card-block">
					       		<div class="row">
				    				<div class="col-lg-4">
				    					<table class="table table-responsive" style="font-size: 14px;" >
						    				{% for m in mando %}
						    					<tr><th colspan="6">{{m.TIPO_REQUISITO|upper}}:</th></tr>
					    						{% set anos = (m.ANOS + (m.MESES + (m.DIAS / 30)|round(0, 'floor') )/ 12)|round(0, 'floor')  %}
												{% set meses = (((((m.MESES + (m.DIAS / 30)|round(0, 'floor')) / 12)|round(0, 'floor')) * 12) - (m.MESES + (m.DIAS / 30)|round(0, 'floor')) )|abs %}
												{% set dias = ((m.DIAS / 30)|round(0, 'floor') * 30 - m.DIAS)|abs %}
					    						{% if m.TIPO_REQUISITO == 'Tiempo de Mando' or m.TIPO_REQUISITO == 'Millas Navegadas' %}
					    							<th>Años:</th>
													<td>{{ anos }}
													<th>Meses:</th>
													<td>{{ meses}}</td>
													<th> Dias:</th>
													<td>{{ dias }}</td>
												{% else %}
												   <td>{{m.MILLAS}}</td>
					    						{% endif %}
											{% endfor %}
										</table>
									</div>
								<div class="col-lg-4">
					    				<table class="table table-responsive" style="font-size:14px;">
					    					<tr>
					    						<th colspan="6">Tiempo en el Grado </th>
					    					</tr>

					    					<tr>
					    						{% set tiem_grado = persona.T_GRADO|split(' ') %}
					    							{% set t_grado_f = tiem_grado[0]|split('-',3) %}
					    						<th>Años:</th>
												<td>{{t_grado_f[0]}}</td>
												<th>Meses:</th>
												<td>{{t_grado_f[1]}}</td>
												<th> Dias:</th>
												<td>{{t_grado_f[2]}}</td>
					    						<td></td>
					    					</tr>
					    				</table>
								</div>
								<div class="col-lg-4">
				    				<table class="table table-responsive" style="font-size:14px;">
				    					<tr>
				    						<th colspan="6">Tiempo de Servicio </th>
				    					</tr>
				    					<tr>
				    						{% set t_servicio = persona.T_SERVICIO|split('-',3) %}
				    						<th>Años:</th>
											<td>{{t_servicio[0]}}</td>
											<th>Meses:</th>
											<td>{{t_grado_f[1]}}</td>
											<th> Dias:</th>
											<td>{{t_grado_f[2]}}</td>
				    						<td></td>
				    					</tr>
				    				</table>
								</div>
					      </div>
					    </div>
					  </div>
				  	<div class="card">
					    <div class="card-header" role="tab" id="headingThree">
					      <h5 class="mb-0 text-center">
					        <a class="collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          Lapsos Folios de Vida
					        </a>
					      </h5>
					    </div>
					    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
					      <div class="card-block">
					       {{ render(controller
									('calificacionBundle:Default:folio', {  'identificacion':persona.IDENTIFICACION  })) }}
					      </div>
					    </div>
					  </div>
					</div>
					<div class="card">
					    <div class="card-header" role="tab" id="headingFour">
					      <h5 class="mb-0 text-center">
					        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
					          Estimulos-Represiones
					        </a>
					      </h5>
					    </div>
					    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
					      <div class="card-block">

					      	{{render(controller('calificacionBundle:default:estim_repre',{'id': persona.IDENTIFICACION}))}}
					      </div>
					    </div>
					</div>
						<div class="card">
					    <div class="card-header" role="tab" id="headingFive">
					      <h5 class="mb-0 text-center">
					        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
					          Perfil profesional
					        </a>
					      </h5>
					    </div>
					    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
					      <div class="card-block">
									<div class="container">

									<div class="row">
										{{render(controller('calificacionBundle:default:perfil_profesional',{'id':persona.IDENTIFICACION}))}}
									</div>

					    	</div>
							</div>
					</div>

{#--------------------------TABS-----------------------------------------------  #}
				<div class="card-block">

					<ul class="nav nav-tabs" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active text-center" href="#profile" role="tab" data-toggle="tab"><i class="fa fa-address-book text-center card-img-top ico-tab" aria-hidden="true"></i><br>Calificacion</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link text-center text-muted" href="#buzz" role="tab" data-toggle="tab"><i class="fa fa-ambulance text-center card-img-top ico-tab" aria-hidden="true" ></i><br>Juntas Medicas</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link text-center text-muted" href="#disan" role="tab" data-toggle="tab"><i class="fa fa-hospital-o text-center card-img-top ico-tab" aria-hidden="true" ></i><br>Estado Salud</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link text-center" href="#references" role="tab" data-toggle="tab"><i class="fa fa-balance-scale text-center card-img-top ico-tab" aria-hidden="true" ></i><br>Disciplinarias</a>
					  </li>

					   <li class="nav-item">
					    <a class="nav-link text-center" href="#ascensos" role="tab" data-toggle="tab"><i class="fa fa-address-card-o ico-tab" aria-hidden="true" ></i><br>HISTORIAL DE ASCENSOS</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link text-center" href="#no_remuneradas" role="tab" data-toggle="tab"><i class="fa fa-address-card-o ico-tab" aria-hidden="true"></i><br>Licencias no Remuneradas</a>
					  </li>

					</ul>
				</div>
					<!-- Tab panes -->
					<div class="tab-content">
					  <div role="tabpanel" class="tab-pane active show" id="profile">
							<div class="container">
								<table class="table table-bordered" style="font-size: 12px">
									<tr>
										<th colspan="2">REQUISITOS PARA ASCENSO</th>
										<th colspan="2">IMPEDIMENTOS</th>
										<th colspan="2">CONCEPTO DEL COMANDANTE</th>
									</tr>
									<tr>
										<th>T. minimo en el grado</th>
										<td class="text-center">

												{% set var = persona.T_GRADO|split('-') %}
												{% if persona.GRADO == 'TF' or persona.GRADO == 'ST' or
												 persona.GRADO == 'TK' or persona.GRADO == 'TE'%}
													{% if var[0] >= 4 %}
														<span class="Cumple">Cumple</span>
													{% else %}
													    <span class="noCumple">No Cumple</span>
													{% endif %}
												{% endif %}
												{% if persona.GRADO == 'TN' or persona.GRADO == 'CT'
												 or persona.GRADO == 'CC' or persona.GRADO == 'MY'
												 or persona.GRADO == 'CF' or persona.GRADO == 'TC' %}
													{% if var[0] >= 5 %}
														<span class="Cumple">Cumple</span>
													{% else %}
													    <span class="noCumple">No Cumple</span>
													{% endif %}
												{% endif %}

												{% if persona.GRADO == 'C3' or persona.GRADO == 'C2' %}
													{% if var[0] >= 3 %}
														<span class="Cumple">Cumple</span>
													{% else %}
													    <span class="noCumple">No Cumple:</span>
													{% endif %}
												{% endif %}

												{% if persona.GRADO == 'S3' or persona.GRADO == 'S2'
																		or persona.GRADO == 'SS'
												or persona.GRADO == 'S1' or persona.GRADO == 'SJ' %}
													{% if var[0] >= 4 %}
														<span class="cumple">Cumple</span>
													{% else %}
													    <span class="noCumple">No Cumple</span>
													{% endif %}
												{% endif %}
										</td>
										<th>Lista Folio de Vida</th>
										<td class="text-center"></td>
									</tr>
									<tr>

											{% if persona.CATEGORIA == 'OFICIAL' %}
											{% if persona.ARMA_CUERPO == 'EJECUTIVO' %}
												{% if persona.ESPECIALIDAD == 'AVIACION NAVAL' %}
													{% set var = 0 %}
													{% for m in mando %}
														{% if m.TIPO_REQUISITO == 'Horas de Vuelo' %}
															{% if m.MILLAS >= 100 and persona.GRADO == 'TK' %}
																<th>Horas de Vuelo</th>
																<td class="text-center">
																	<span class="cumple">Si Cumple</span>
																</td>
															{% elseif m.MILLAS >= 150 and persona.GRADO == 'TF' %}
																<th>Horas de Vuelo</th>
																<td class="text-center">
																	<span class="cumple">Si Cumple</span>
																</td>
															{% elseif m.MILLAS >= 200 and persona.GRADO == 'TN'  %}
																<th>Horas de Vuelo</th>
																<td class="text-center">
																	<span class="cumple">Si Cumple</span>
																</td>
															{% elseif  persona.GRADO != 'TN' and persona.GRADO != 'TF' and persona.GRADO != 'TK' %}
																<th>Horas de Vuelo</th>
																<td class="text-center">
																	<span class="cumple">Si Cumple</span>
																</td>
															{% else %}
															<th>Horas de Vuelo</th>
																<td class="text-center">
																	<span class="noCumple">No Cumple</span>
																</td>
															{% endif %}
														{% endif %}
														{% set var = var + 1 %}
													{% endfor %}
													{% if var == 0 %}
														<span class="noCumple">No Hay horas de vuelo</span>
													{% endif %}
												{% elseif persona.ESPECIALIDAD == 'SUPERFICIE' or persona.ESPECIALIDAD == 'SUBMARINISTA'
													or persona.ESPECIALIDAD == 'INGENIERIA'%}
													{% for m in mando %}
														{% if m.TIPO_REQUISITO == 'Millas Navegadas' %}
															{% set anos = (m.ANOS + (m.MESES + (m.DIAS / 30)|round(0, 'floor') )/ 12)|round(0, 'floor')  %}
															{% set meses = (((((m.MESES + (m.DIAS / 30)|round(0, 'floor')) / 12)|round(0, 'floor')) * 12) - (m.MESES + (m.DIAS / 30)|round(0, 'floor')) )|abs %}
															{% set dias = ((m.DIAS / 30)|round(0, 'floor') * 30 - m.DIAS)|abs %}
																{% if persona.GRADO == 'TK' and anos >= 2 %}
																	<th>Millas Navegadas</th>
																<td class="text-center">
																	<span class="cumple">Si Cumple</span>
																</td>
																{% endif %}

														{% endif %}
													{% endfor %}
												{% endif  %}
												{% elseif persona.ARMA_CUERPO == 'LOGISTICO' %}
												   Cumple con los requisitos :
												    <select name="" id="" required="">
												    	<option value="" selected=""></option>
														<option value="cumple">SI CUMPLE</option>
														<option value="no cumple">NO CUMPLE</option>
							    					</select>
							    				{% elseif persona.ARMA_CUERPO == 'INFANTERIA DE MARINA' %}

							    					{% for m in mando %}
							    						{% set anos = (m.ANOS + (m.MESES + (m.DIAS / 30)|round(0, 'floor') )/ 12)|round(0, 'floor')  %}
														{% set meses = (((((m.MESES + (m.DIAS / 30)|round(0, 'floor')) / 12)|round(0, 'floor')) * 12) - (m.MESES + (m.DIAS / 30)|round(0, 'floor')) )|abs %}
														{% set dias = ((m.DIAS / 30)|round(0, 'floor') * 30 - m.DIAS)|abs %}
							    						{% if m.TIPO_REQUISITO == 'Tiempo de Mando' %}

															{% if persona.GRADO == 'ST' or persona.GRADO == 'TE' or persona.GRADO == 'CT' and anos >= 2 %}

																<th>Tiempo en el Mando: </th>
																<td class="text-center"><span class="cumple ">Si Cumple</span></td>
															{% elseif persona.GRADO != 'ST' and persona.GRADO != 'TE' and persona.GRADO != 'CT' and anos >= 2 %}
																<th>Tiempo en el Mando: </th>
																<td class="text-center"><span class="cumple ">Si Cumple</span></td>
															{% else %}
															   <th>Tiempo en el Mando: </th>
																<td class="text-center"><span class="noCumple ">No Cumple</span></td>
															{% endif %}
							    						{% endif %}
							    					{% endfor %}
							    				{% else %}
				    				     			<th>No Aplica </th>
													<td class="text-center"><span class="cumple ">Cumple</span></td>
											{% endif %}
											{% endif %}

										<th>Sanciones</th>
										<td class="text-center"></td>
									</tr>
									<tr>
										<th>Aptitud Psicofísica</th>
										<td class="text-center">


										</td>
										<th>Suspenciones</th>
										<td class="text-center"></td>
									</tr>
									<tr>
										{# validacion para el tiempo en el grado #}
										{% if persona.EDAD <= persona.EDAD_LIMITE  %}
											<th>Edad Limite para el grado: {{persona.EDAD_LIMITE}} </th>
											<td class="text-center"><span class="cumple ">Cumple</span></td>
										{% else %}
										    <th>Edad Limite para el grado: {{persona.EDAD_LIMITE}} </th>
											<td class="text-center"><span class="noCumple ">No Cumple</span></td>
										{% endif %}
									</tr>
								</table>
							</div>
					</div>


				<div role="tabpanel" class="tab-pane fade" id="no_remuneradas">

					<table class="table table-responsive table-condensed table-sm table-bordered">
						<thead class="table-inverse text-center">
							<tr>
								<td>AÑO</td>
								<td>CATEGORIA</td>
								<td>GRD</td>
								<td>NOMBRE</td>
								<td>DEPENDENCIA</td>
								<td>TIPO_LICENCIA</td>
								<td>F_DISPOSICION</td>
								<td>F_INICIO</td>
								<td>F_FINAL</td>
							</tr>
						</thead>
						<tbody style="font-size:12px">


							{% for n in no_remuneradas %}
								<tr>
								    <td class="text-center">
								    	{{n.AÑO_DISPOSICION}}
								    </td>
								    <td class="text-center">
								    	{{n.CATEGORIA}}
								    </td>
								    <td class="text-center">
								    	{{n.GRD}}
								    </td>
								    <td class="text-center">
								    	{{n.APELLIDOS}} {{n.NOMBRES}}
								    </td>
								    <td class="text-center">
								    	{{n.DEPENDENCIA}}
								    </td>
								    <td class="text-center">
								    	{{n.TIPO_LICENCIA}}
								    </td>
								    <td class="text-center">
								    	{{n.FECHA_DISPOSICION}}
								    </td>
								    <td class="text-center">
								    	{{n.FECHA_FISCAL_INICIO}}
								    </td>
								    <td class="text-center">
								    	{{n.FECHA_FINAL}}
								    </td>
							    </tr>
							{% endfor %}

						</tbody>
					</table>
			 	</div>
				<div role="tabpanel" class="tab-pane fade" id="ascensos">
					{{ render(controller
					('calificacionBundle:Default:historial_ascensos',
					{  'id':persona.IDENTIFICACION
			 		})) }}
			 		</div>
				<div role="tabpanel" class="tab-pane fade" id="disan">
					{{ render(controller
					('disanBundle:Default:estado_salud',
					{'id':persona.IDENTIFICACION , 'plantilla': false}
					)) }}
				</div>
				<div role="tabpanel" class="tab-pane fade" id="difam">
					cc
				</div>
			  	<div role="tabpanel" class="tab-pane fade" id="buzz">
			  		{{ render(controller
					('disanBundle:Default:juntas_medicas',
					{'id':persona.IDENTIFICACION , 'plantilla': false}
					)) }}
				</div>
				<div role="tabpanel" class="tab-pane fade" id="references">
					{{ render(controller
					('jpmBundle:Default:index',
					{  'id':persona.IDENTIFICACION, 'plantilla': false
			 		})) }}
			 	</div>
		</div>

		</div>
				</article>
			</section>
			</article>
			</form>
		</article>
			{% endif %}
			</div>
	</section>
{% endblock %}

{% block scripts %}

	{{parent()}}
	<script src="{{asset('js/proponer.js')}}" type="text/javascript">

	</script>

<script>
	var ctx = document.getElementById("perfil").getContext("2d");


	var myChart = new Chart(ctx, {
	    type: 'radar',
	    data: {
	        labels: ["Operativo", "logistico", "Embarque",'Vuelo','mando tropa'],
	        datasets: [{
	            label: 'Perfil del Tripulante',
	            data: [8, 10, 3, 5, 2, 3],
	            backgroundColor: [
	                'rgba(92, 184, 92, 0.52)',

	            ],
	            borderColor: [
	                '#3c763d',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 0
	        }]
	    },
	    options: {
	    	responsive:true,
	        scales: {
	        	scaleLabel : {FontSize:40},
	        	pointLabels: {
    			fontSize: 20
          		},

	            // yAxes: [{
	            //     ticks: {
	            //         beginAtZero:false
	            //     }
	            // }]
	        }
	    }
	});
</script>

{% endblock %}
