{% extends  "/default/consulta.html.twig" %}

{% block head %}
	{{parent()}}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'>
    </script>
{% endblock %}
{% block header %}
{% endblock %}
{% block consulta_header %}
	<i class="fa fa-user-circle text-center card-img-top" aria-hidden="true" style="font-size:100px; color:#005f8e;"></i>
{% endblock %}

{% block listado_target %}
	href="{{url('persona_datos')}}{{parent()}}
{% endblock %}
{% block datos %}
				{% if persona != null %}
					

{#--------------------------TABS-----------------------------------------------  #}
				<div class="card-block">

					<ul class="nav nav-tabs" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active text-center" href="#profile" role="tab" data-toggle="tab"><i class="fa fa-address-book text-center card-img-top ico-tab" aria-hidden="true"></i><br>Calificacion</a>
					  </li>

					   
					  <li class="nav-item">
					    <a class="nav-link text-center" href="#no_remuneradas" role="tab" data-toggle="tab"><i class="fa fa-address-card-o ico-tab" aria-hidden="true"></i><br>Licencias no Remuneradas</a>
					  </li>

					</ul>
				</div>
					

				<div role="tabpanel" class="tab-pane fade" id="no_remuneradas">

					<table class="table table-responsive table-condensed table-sm table-bordered">
						<thead class="table-inverse text-center">
							<tr>
								<td>AÑO</td>
								<td>CATEGORIA</td>
								<td>GRD</td>
								<td>NOMBRE</td>
								<td>DEPENDENCIA</td>
								<td>TIPO_LICENCIA</td>
								<td>F_DISPOSICION</td>
								<td>F_INICIO</td>
								<td>F_FINAL</td>
							</tr>
						</thead>
						<tbody style="font-size:12px">


							{% for n in no_remuneradas %}
								<tr>
								    <td class="text-center">
								    	{{n.AÑO_DISPOSICION}}
								    </td>
								    <td class="text-center">
								    	{{n.CATEGORIA}}
								    </td>
								    <td class="text-center">
								    	{{n.GRD}}
								    </td>
								    <td class="text-center">
								    	{{n.APELLIDOS}} {{n.NOMBRES}}
								    </td>
								    <td class="text-center">
								    	{{n.DEPENDENCIA}}
								    </td>
								    <td class="text-center">
								    	{{n.TIPO_LICENCIA}}
								    </td>
								    <td class="text-center">
								    	{{n.FECHA_DISPOSICION}}
								    </td>
								    <td class="text-center">
								    	{{n.FECHA_FISCAL_INICIO}}
								    </td>
								    <td class="text-center">
								    	{{n.FECHA_FINAL}}
								    </td>
							    </tr>
							{% endfor %}

						</tbody>
					</table>
			 	</div>
				<div role="tabpanel" class="tab-pane fade" id="ascensos">
					{{ render(controller
					('calificacionBundle:Default:historial_ascensos',
					{  'id':persona.IDENTIFICACION
			 		})) }}
			 		</div>
				<div role="tabpanel" class="tab-pane fade" id="disan">
					{{ render(controller
					('disanBundle:Default:estado_salud',
					{'id':persona.IDENTIFICACION , 'plantilla': false}
					)) }}
				</div>
				<div role="tabpanel" class="tab-pane fade" id="difam">
					cc
				</div>
			  	<div role="tabpanel" class="tab-pane fade" id="buzz">
			  		{{ render(controller
					('disanBundle:Default:juntas_medicas',
					{'id':persona.IDENTIFICACION , 'plantilla': false}
					)) }}
				</div>
				<div role="tabpanel" class="tab-pane fade" id="references">
					{{ render(controller
					('jpmBundle:Default:index',
					{  'id':persona.IDENTIFICACION, 'plantilla': false
			 		})) }}
			 	</div>
		</div>

		</div>
				</article>
			</section>
			</article>
			</form>
		</article>
			{% endif %}
			</div>
	</section>
{% endblock %}

{% block scripts %}

	{{parent()}}
	<script src="{{asset('js/proponer.js')}}" type="text/javascript">

	</script>

<script>
	var ctx = document.getElementById("perfil").getContext("2d");


	var myChart = new Chart(ctx, {
	    type: 'radar',
	    data: {
	        labels: ["Operativo", "logistico", "Embarque",'Vuelo','mando tropa'],
	        datasets: [{
	            label: 'Perfil del Tripulante',
	            data: [8, 10, 3, 5, 2, 3],
	            backgroundColor: [
	                'rgba(92, 184, 92, 0.52)',

	            ],
	            borderColor: [
	                '#3c763d',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 0
	        }]
	    },
	    options: {
	    	responsive:true,
	        scales: {
	        	scaleLabel : {FontSize:40},
	        	pointLabels: {
    			fontSize: 20
          		},

	            // yAxes: [{
	            //     ticks: {
	            //         beginAtZero:false
	            //     }
	            // }]
	        }
	    }
	});
</script>

{% endblock %}
